<header>
  <div class="header-top">
    <div class="container">
      <div class="mobile">
        <div id="menu-open" class="burger-container">
          <div class="burger"></div>
        </div>

        <img id="menu-close" class="hide" src="./assets/icon_menu.svg">

        <div id="menu-mobile">
          <nav>
            <ul>
              <li><a href="#">HOME</a></li>
              <li><a href="#">SETTINGS</a></li>
              <li><a href="#">LOGOUT</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <nav class="desktop navigation">
        <ul>
          <li id="dropdown-toggle">
            <a href="#">
              <span class="initials-avatar">LC</span>
              Hi Lara
            </a>
            <ul id="dropdown-menu">
              <li><a href="#">Setting</a></li>
              <li><a href="#">Logout</a></li>
            </ul>
          </li>
        </ul>
      </nav>

    </div>
  </div>

  <div class="header-profile" style="background-image: url('../assets/cover1.jpg')">
    <div class="container d-flex align-items-end">
      <div class="avatar-image">
        <img src="./assets/profile-image.png">
      </div>
      <h4 class="username">
        Lara Croft
      </h4>
    </div>
  </div>
</header>
