.card {
  a { color: #000; }
  height: 100%;
  width: 100% !important;

  .card-body {
    display: flex;
    flex-direction: column;
    .news-description {
      flex: 1;
    }
  }
}

.category {
  margin-top: 1rem;
  font-size: 12px;
}
